# Yarn configuration file

# Use Workspaces
workspaces-experimental true

auto-install-peers true
# Set the registry to use
registry "https://registry.yarnpkg.com"

# Set the preferred package manager version
yarn-version "1.22.19"

# Set the preferred node version
node-version "21.6.1"

# Set whether Yarn should generate a yarn.lock file
generate-lockfile true

# Set the cache folder location
cache-folder ".yarn/cache"

# Disable telemetry reporting
enableTelemetry 0
