.loader {
  width: 100%;
  height: 100vh;
}

.loader__main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.loader__dot {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 20px;
  transform: translate(0px, -40px);
  animation: bounce 1s infinite;
}

.loader__dot:nth-child(2) {
  animation-delay: 0.2s;
}

.loader__dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0% {
    transform: translate(0px, -10px);
  }
  40% {
    width: 0px;
    height: 2px;
    transform: translate(0px, 40px) scale(1.7);
  }
  100% {
    height: 20px;
    transform: translate(0px, -20px);
  }
}